@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  direction: rtl;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: rgb(239, 238, 238);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .hide-scrollbar {
    scrollbar-width: 0px;
    scrollbar-color: transparent;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
